<%- include('header') %>
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">

            <!-- page heading -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Add Team Member</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="validationform" method="post" action="/client/edit" enctype="multipart/form-data">
                                <input type="hidden" value="<%= data.id %>" name="eid">
                                <!--image   -->
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">image</label>
                                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0 d-flex align-items-center">
                                        <input id="pass2" type="file" name="image" class="form-control-file">
                                        <img src="<%= data.image %>" height="100" width="150" alt="">
                                    </div>
                                </div>
                                <!-- buttons -->
                                <div class="form-group row text-right">
                                    <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                        <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                        <button class="btn btn-space btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<%- include('footer') %>